@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");

html,
body {
  font-family: Source Sans Pro, sans-serif;
}

body {
  margin-top: 16px;
  margin-bottom: 64px;
}

canvas {
  box-shadow: inset 0 0 5px -2px rgba(0, 0, 0, 0.4);
}

.indicator {
  font-size: 24px;
}

.small-indicator {
  font-size: 12px;
  font-weight: bold;
}

.i-healthy {
  color: #bbb;
}

.i-infected {
  color: orangered;
}

.i-cured {
  color: limegreen;
}

.i-peak-infected {
  color: orangered;
}

.wrap-controls {
  flex: 1;
}

.wrap-canvas {
  flex: 0 0 616px;
}

.wrap-canvas button {
  width: 100%;
}

.intent-success {
  color: #368436;
  font-weight: bold;
}

.intent-danger {
  color: #882907;
  font-weight: bold;
}

.canvas-holder {
  position: relative;
  max-width: 600px;
}

.canvas-line-tooltip {
  position: absolute;
  left: 150px;
  top: 493px;
}

@media screen and (max-width: 945px) {
  .wrap-controls {
    order: 2;
  }

  .wrap-canvas {
    order: 1;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .wrap-canvas {
    max-width: none;
    flex: 0 0 auto !important;
  }
  .wrap-controls {
    margin-top: 16px;
  }
}

@media screen and (max-width: 600px) {
  .wrap-canvas {
    max-width: none;
  }

  canvas {
    width: 480px !important;
    height: 440px !important;
  }

  .canvas-line-tooltip {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .wrap-canvas {
    max-width: none;
  }

  canvas {
    width: 300px !important;
    height: 225px !important;
  }
}
