@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");

html,
body {
  font-family: Source Sans Pro, sans-serif;
}

body {
  margin-top: 16px;
  margin-bottom: 64px;
}

canvas {
  box-shadow: inset 0 0 5px -2px rgba(0, 0, 0, 0.4);
}

.indicator {
  font-size: 24px;
}

.small-indicator {
  font-size: 12px;
  font-weight: bold;
}

.i-healthy {
  color: #bbb;
}

.i-infected {
  color: orangered;
}

.i-cured {
  color: limegreen;
}

.i-peak-infected {
  color: orangered;
}

.wrap-controls {
  flex: 1;
}

.wrap-canvas {
  flex: 0 0 616px;
}

.intent-success {
  color: limegreen;
  font-weight: bold;
}

.intent-danger {
  color: orangered;
  font-weight: bold;
}

.canvas-holder {
  position: relative;
}

.canvas-line-tooltip {
  position: absolute;
  left: 150px;
  top: 493px;
}
